body {
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0 180px;
  margin-top: 50px;
  font-size: 80px;
}

.img {
  text-align: center;
}
img {
  width: 300px;
}

.main-button {
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

a {
  font-family: "Exo 2";
  font-size: 20px;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
