body {
  /* background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/stsci-h-p1821a-m-1699x2000.png"); */
  background: linear-gradient(135deg, #1a5276, #1abc9c, #8e44ad);
  background-repeat: no-repeat;
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100vh;
}

.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: inherit;
  margin: 10px;
}

.main-texto {
  margin-top: 50px;
  font-size: 15px;
  font-weight: bold;
  text-anchor: 10px;
}

img {
  width: 260px;
  margin: 30px;
  margin-bottom: 10px;
}
.me-img {
  border-radius: 50%;
}

.social-links a {
  width: 100px;
}

hr {
  width: 90%;
  margin-bottom: 15px;
}

footer {
  width: 80vw;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 18px;
  align-self: flex-end;
  position: fixed;
  color: black;
  right: 10vw;
  bottom: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer p {
  font-size: 20px;
  font-family: "exo 2";
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links img {
  width: 40px;
  padding: 10px;
}
