body {
  background-image: url("../img/wallpaper.png");
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  font-weight: inherit;
  margin: 10px;
}

p {
  margin-top: 30px;
  font-size: 18px;
}

img {
  border-radius: 50%;
  width: 260px;
  margin: 30px;
}

.social-links a {
  width: 100px;
}

hr {
  width: 90%;
  margin-bottom: 15px;
}

footer {
  width: 80vw;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 18px;
  align-self: flex-end;
  position: fixed;
  color: black;
  right: 10vw;
  bottom: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer p {
  font-size: 20px;
  font-family: "exo 2";
  text-transform: uppercase;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links img {
  width: 40px;
  padding: 10px;
}

/* @media only screen and (max-width: 600px) {
  p {
    font-size: 30px;
  }
} */
